body {
  background-color: #f4f6f8;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

h1 {
  color: #2c3e50;
  font-size: 5pc;
  border: 30px;
  border-radius: 15px;
  background: violet;
}

.controls {
  margin: 20px;
}

input {
  padding: 8px;
  width: 250px;
  margin-right: 10px;
}

button {
  padding: 8px 12px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  background-color: skyblue;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px gray;
  width: 250px;
}

.loading {
  color: orange;
}

.error {
  color: red;
}
